.recipe-details h3 {
  margin: 0.5vw 0;
  font-size: 2.2vw;
  font-family: "Indie Flower", cursive;
}

.recipe-details p {
  margin: 0;
  font-size: 1.5vw;
  font-family: "Indie Flower", cursive;
}

.recipe-details .prep-time {
  display: flex;
  align-items: center;
  margin-top: 0.5vw;
  font-size: 1.5vw;
  font-family: "Indie Flower", cursive;
}

.recipe-details .prep-time img {
  width: 2.6vw;
  height: 2.6vw;
  margin-right: 0.5vw;
}

@media (max-width: 768px) {
  .recipes-top-container {
    font-size: 2vw; 
  }

  .recipe-details h3 {
    font-size: 1.8em;
  }

  .recipe-details p {
    font-size: 1.2em; 
  }

  .prep-time {
    font-size: 1.1em;
  }

  .recipe-details .prep-time img {
    width: 5.6vw;
    height: 5.6vw;
    margin-right: 0.5vw;
  }

  .recipe-container img {
    width: 90%; 
    margin: auto; 
  }
}

@media (max-width: 480px) {
  .recipes-top-container {
    font-size: 2.5vw; 
  }

  .recipe-details h3 {
    font-size: 2em;
  }

  .recipe-details p {
    font-size: 1.5em; 
  }

  .prep-time img {
    width: 30px; 
  }

  .recipe-details .prep-time img {
    width: 5.6vw;
    height: 5.6vw;
    margin-right: 0.5vw;
  }

  .recipe-container img {
    width: 80%;
    margin: auto;
  }
}

/* Footer information styling */
.copyright-text {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}

.blank-space {
  padding-bottom: 1vw;
  padding-top: 1vw;
}

/* About page */
/* About logo under big image at top of page */
.about-logo-page {
  text-align: center;
  height: 10vh; /* This controls the height of the container, not the image */
}

.about-logo-page img {
  width: 20vw; 
  height: auto; 
  max-width: 15%;
}

/* About text section */
.about-container {
  background-color: rgb(251, 247, 247);
  border-radius: 1.5vw;
  padding: 2vw;
  margin: 2vw auto;
  max-width: 50vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
  font-size: 1.5vw; 
  line-height: 1.6;
  font-family: "Indie Flower", cursive;
  color: #333;
  position: relative;
  left: -100%; /* Start off-screen to the left */
  opacity: 0; /* Start invisible */
  transition: left 1s ease-in-out, opacity 1s ease-in-out;
}

.h1-about-section {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .about-container {
    padding: 1.5vw;
    margin: 1.5vw;
    font-size: 1.5vw;
  }
}

@media (max-width: 480px) {
  .about-container {
    background-color: rgb(251, 247, 247);
    border-radius: 1.5vw;
    padding: 2vw;
    margin: 2vw auto;
    max-width: 200vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    font-size: 5.5vw; /* Slightly larger text */
    line-height: 1.6;
    font-family: "Indie Flower", cursive;
    color: #333;
    position: relative;
    left: -100%; /* Start off-screen to the left */
    opacity: 0; /* Start invisible */
    transition: left 1s ease-in-out, opacity 1s ease-in-out;
  }
}

.about-container.visible {
  left: 0; /* Move to the centre of the viewport */
  opacity: 1; /* Make completely visible */
}

/* Meal preparation pages */
.preparation-info {
  font-family: "Indie Flower", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  font-size: 2vw;
}

.preparation-container {
  max-width: 60vw;
  padding: 2vw;
  background-color: rgb(245, 201, 79);
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
  text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.preparation-container.visible {
  transform: translateX(0);
  opacity: 1;
}

.preparation-container img {
  max-width: 80%;
  height: auto;
}

.preparation-time {
  margin: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preparation-time img {
  margin-right: 0.5vw;
  width: 5%;
}

.steps {
  text-align: left;
  margin-top: 2vw;
}

.h1-steps {
  font-weight: 600;
  text-align: center;
}

.steps h3 {
  text-align: center;
  font-size: 3vw;
}

.steps ol {
  padding-left: 2vw;
  font-size: 2vw;
  text-align: center;
}

.ingredients {
  text-align: left;
  margin-top: 2vw;
}

.ingredients ul {
  padding-left: 2vw;
}

@media (max-width: 768px) {
  .preparation-info {
    font-size: 3vw; 
  }

  .preparation-container {
    max-width: 80vw; 
  }

  .steps h3 {
    font-size: 4vw;
  }

  .steps ol {
    font-size: 3vw;
  }
  .preparation-time img {
    margin-right: 0.5vw;
    width: 10%;
  }
}

@media (max-width: 480px) {
  .preparation-info {
    font-size: 4vw; 
  }

  .preparation-container {
    max-width: 90vw; 
    padding: 5vw;
  }

  .steps h3 {
    font-size: 5vw; 
  }

  .steps ol {
    font-size: 4vw;
  }
  .preparation-time img {
    margin-right: 0.5vw;
    width: 10%;
  }
}
