body {
  background-color: rgb(174, 48, 71);
}

/*custom logo*/
.custom-logo {
  width: 80px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}


h1 {
  font-size: 60px;
  font-style: italic;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.card-text, .card-title {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

/*Button*/
.custom-btn {
  background-color: rgb(245, 201, 79);
  border-color: rgb(245, 201, 79);
  color: #e65949; /* Text color */
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.custom-btn:hover {
  background-color: blue;
  border-color: blue;
}

/* Google font (is this needed or is it already included above?)*/
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}



/* Set fixed aspect ratio for card images */
.card-img-top {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

/*Blank space section*/
.blank-space {
  margin-bottom: 100px;
}

/*Social media section*/
.p-socials {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

.card.border-dark {
  border: 2px solid black;
  background-color: rgb(174, 48, 71);
  margin-bottom: 120px;
  min-height: 100px; /* Adjust the minimum height as needed */
}


.col-md-6 .socials-img {
  width: 60px; 
  height: auto;
  margin-right: 5px; 
}

.recipe-room-container {
  display: flex;
  align-items: center;
}

.h1-socials {
  margin-right: 50px; /* Adjust margin as needed */
}

.socials-img {
  max-width: 60px; 
  height: auto;
}

.socials-logo {

    max-width: 100px; 
    height: auto;
}

.socials-blank-space {
  margin-bottom: 21px;
}


